body {
	background-color: var(--color, pink);
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.light,
.dark {
	margin: 1rem;
	background-color: #fff;
	padding: 1rem 1.3rem;
	border-radius: 0.5rem;
	border: 1px solid #fff;
	font-size: 1.2rem;
	box-shadow: 0 0 3px 2px rgb(245, 170, 183);
}

.light-theme {
	border-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.dark-theme {
	border-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
	color: #fff;
	background-color: #2e2d2d;
}
